*, *:after, *:before {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #c5c5c5;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: #5F9EA0FF;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #12062a;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
}

.navbar a {
    text-decoration: none;
    padding: 1em 2em;
}

.navbar span {
    padding: 1em 2em;
    margin: 0;
}

.nav-item {
    position: relative;
    display: flex;
}

.nav-item ul {
    overflow-wrap: anywhere;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 3em 0 0 0;
    text-align: center;
    position: absolute;
    background: #12062a;
    border-radius: 0 0 .5em .5em;
    width: 100%;
    display: none;
}

.nav-item li:hover {
    background: #1c0844;
    border-radius: .5em;
}

.nav-item li a {
    padding: .5em;
    margin: 0;
    display: inline-block;
}

.nav-item a:focus + ul,
.nav-item a:hover + ul,
.nav-item ul:hover {
    display: block;
    animation: dropdown .25s;
}

@keyframes dropdown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}