*, *:before, *:after {
    box-sizing: border-box;
}



body {
    background-color: #444;
    color: #c5c5c5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main-nav ul li {

}