*, *:after, *:before {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #c5c5c5;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    background: #5F9EA0FF;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #12062a;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1em;
}

.navbar .logo,
.navbar .nav-link {
    text-decoration: none;
    padding: 1em 2em;
}

.nav-item {
    position: relative;
    display: flex;
}

.nav-item ul {
    overflow-wrap: anywhere;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 3em 0 0 0;
    text-align: center;
    position: absolute;
    background: #12062a;
    border-radius: 0 0 .5em .5em;
    width: 100%;
    display: none;
}

.nav-item li:hover {
    background: rgba(255, 255, 255, 0.05);
    border-radius: .5em;
}

.nav-item li a {
    display: block;
    padding: .5em;
    margin: 0;
    text-decoration: none;
}

.nav-item a:focus + ul,
.nav-item a:hover + ul,
.nav-item ul:hover {
    display: block;
    animation: dropdown .3s;
}

.menu-button {
    position: absolute;
    top: .9em;
    right: 1em;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.8em;
    height: 1.1em;
}

.menu-button .bar {
    height: .2em;
    width: 100%;
    background: #c5c5c5;
    border-radius: .3em;
}

@keyframes dropdown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1050px) {
    .menu-button {
        display: flex;
    }


    .menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nav-item {
        display: none;
        width: 100%;
    }

    .nav-item:hover {
        background: rgba(255, 255, 255, .05);
    }

    .nav-item ul {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }

    .nav-item ul li {
        text-align: center;
        width: 100%;
    }

    .nav-item a {
        width: 100%;
        text-align: center;
    }

    .nav-item ul li a {
        padding: .5em 1em;
        width: 100%;
    }

    .menu.active .nav-item {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item a:hover + ul,
    .nav-item ul:hover {
        display: none;
        animation: none;
    }

    .nav-item a:focus + ul,
    .nav-item ul:hover {
        display: flex;
        position: relative;
        animation: none;
        background: #180739;
        border-radius: 0;
    }

    .nav-item ul li:hover {
        border-radius: 0;
    }
}